.card {
  padding: 1.8rem;
  border-radius: .25rem;
  box-shadow: $shadow-bottom;
  width: 100%;
  max-width: 20rem;

  .card__heading--subheading {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: $font-size-lead;
  }

  .rich-text {
    margin-top: 1rem;
  }
}

@each $color, $value in $theme-colors {
  .card.card-background--#{$color} { background-color: $value; }
  .card.card-border--#{$color} { border: 1px solid $value; }
}