.hero-gallery {
  position: relative;
  overflow: hidden;
  display: flex;
  
  .cover-image {
    flex-shrink: 0;
  }
}

.image-cross-fade {
  // animation duration should equal the interval in
  // the setTimeout function in the component JS file
  animation: image-cross-fade 7.4s forwards;
}

@keyframes image-cross-fade {
  0% { opacity: 0; }
  20%, 90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes image-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}