.image-scroller {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  align-items: center;
  padding: 0 1rem 3rem;

  &__image {
    flex-shrink: 0;
    position: relative;
    width: 15rem;
    padding: 3rem 1rem;
    &:nth-last-child(1) {
      padding-right: 2rem;
    }
    color: inherit;

    .image-loader {
      box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .65);

      transition: box-shadow .3s ease;
      &:hover {
        box-shadow: 0 .5rem .8rem 0 rgba(0, 0, 0, .8);
      }
    }

    &--name {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 80%;
      text-align: center;
      opacity: .2;
      transition: opacity .4s ease;
      color: inherit;
    }

    &:hover {
      cursor: pointer;
      .image-scroller__image--name {
        opacity: 1;
      }
    }
  }
}

.image-focus {
  padding: .5rem;
  @include breakpoint("md") {
    padding: 2rem;
    padding-bottom: 4rem;
  }
  &--landscape { height: 80vh; }
  &--portrait { height: 55vh; }
  display: flex;
  .cover-image {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .65);
    opacity: 1;
    background-color: rgba($color--secondary, .2);

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  
  .cover-image.image-loading {
    opacity: 0;
  }
}