.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  
  > div {
    flex-basis: 33%;
  }

  &__site-map {
    padding: 0 1rem;
    &--title {
      text-transform: uppercase;
      font-size: inherit;
    }
    &--links {
      list-style-type: none;
      display: flex;
      font-size: inherit;
      color: inherit;
      a {
        padding: .25rem .5rem .25rem 0;
        text-decoration: none;
        font-size: .8rem;
        color: inherit;
        font-family: inherit;
      }
    }
  }

  &__social-links {
    .icons-list {
      justify-content: center;
    }
  }

  &__accreditation {
    padding: 0 1rem;
    text-align: right;

    p {
      font-size: inherit;
    }
    a {
      font-size: inherit;
      color: inherit;
    }
  }
}
