.title {
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    content: "";
    // force :after pseudo element to be behind text
    z-index: -10;
    width: 108%;
    height: 50%;
    // left value is (width - 100) / 2
    left: -4%;
    bottom: -.2rem;
  }
}

// set colour for all underline-color classes
@each $color, $value in $theme-colors {
  .title.underline-color--#{$color}::after {
    background-color: rgba($value, .4);
  }
}