.title {
  position: relative;
  width: fit-content;
  overflow: visible;

  .underline {
    position: absolute;
    content: "";
    // force :after pseudo element to be behind text
    z-index: -10;
    width: 52%;
    height: 1.5rem;
    // left value is (width - 100) / 2
    left: -2%;
    top: 100%;
    transform: translateY(-75%);
    opacity: .4;
  }
}
