.title {
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    content: "";
    // force :after pseudo element to be behind text
    z-index: -10;
    width: 108%;
    height: 1.2rem;
    // left value is (width - 100) / 2
    left: -4%;
    bottom: -.2rem;
  }
}

// set colour for all underline-color classes
.title.underline-color--main::after { background-color: rgba($color--main, .4); }
.title.underline-color--secondary::after { background-color: rgba($color--secondary, .4); }
.title.underline-color--complementary::after { background-color: rgba($color--complementary, .4); }
.title.underline-color--dark::after { background-color: rgba($color--dark, .4); }
.title.underline-color--light::after { background-color: rgba($color--light, .4); }
