.icon--xs img {
  width: 1rem;
  height: 1rem;
}

.icon--sm img {
  width: 1.6rem;
  height: 1.6rem;
}

.icon--md img {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--lg img {
  width: 3.5rem;
  height: 3.5rem;
}

.icon--xl img {
  width: 5rem;
  height: 5rem;
}