@import './library/variables.scss';
@import 'loriss';
@import './library/mixins.scss';
@import './library/library.scss';

* {
  font-size: $font-size-base;
}

html {
  scroll-behavior: smooth;
}

.App {
  margin-top: 5rem;
  overflow: visible;
}