@import './library/variables.scss';
@import 'loriss';
@import './library/mixins.scss';
@import './library/library.scss';

* {
  font-size: $font-size-base;
}

.wrapper {
  width: 300px;
  padding: 2rem;
  margin: 0 2rem;
  border: 1px solid grey;
}