.button {
  cursor: pointer;

  padding: .7rem 1rem;
  border-radius: .25rem;
  border: 2px solid;
  font-size: $font-size-base;
}
.button--large {
  font-size: $font-size-lead;
  padding: 1rem 1.4rem;
}
.button--block {
  width: 100%;
}

@each $color, $value in $theme-colors {
  // set border color and hover states
  .button.button-border--#{$color} {
    border-color: $value;
    @include button-border-handler($value);
  }

  // set background color and hover states
  .button.bg--#{$color} { @include button-bg-handler($value); }
  .button.bg--#{$color}.button--outline { @include button-bg-handler($value, true); }
}
